#root {
  max-width: 2560px;
  margin: 0 auto;
  
  text-align: center;
  /* background: rgb(117, 167, 202); */
}

.App {
  width: 100%;
  height: 100;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.about-me {
  display: flex;
  max-width: 90vw;
  min-height: 40vh;
  background: white;
  color: black;
  margin: 7vh auto 4vh;
  border-radius: 20px;
}

.canvas-bg {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}

.floating-nav {
  white-space: nowrap;
  position: absolute;
  z-index: 1000;
  top: 80%;
  left: 0;
  right: 0;
  margin-left: auto;  
  margin-right: auto;
  text-align: center;
  transition: transform .3s;
  
}

.floating-nav:hover {
  transform: scale(1.5);
}

/* CUSTOM STARTS HERE */

.btn {
  background-color: #e3e1b3;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.card {
  padding: 2em;
}

.contact-me {
  display: flex;
  max-width: 90vw;
  min-height: 40vh;
  color: black;
  margin: 5vh auto 7vh;
  border-radius: 20px;
}

.content {
  width: 85vw;
}

.footer {
  display: inline-flex;
  color: black;
  padding: 1vw;
}

.footer p {
  padding: 1vw;
  font-size: large;
}

.glass {
  background: linear-gradient(135deg, rgba(254, 254, 254, 0.2 ), rgba(254, 254, 254, 0.0 ));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1.2px solid rgba(254, 254, 254, 0.25 );
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.35);
}

.landing {
  margin-top: 5vh;
  border: 1px solid black;
  display: flex;
  min-height: 60vh;
}


.left-landing{
  width: 55vw;
}

.right-landing {
  width: 35vw;
  border: 1px solid black
}

.right-landing h2,p {
  color: black;
}

@media (max-width:1000px) {
  .landing {
    display: block;
  }

  .left-landing {
    width: 90vw;
    height: 60vh;
  }
  .right-landing {
    width: 90vw;
  }
}

.middle-button {
  border-radius: 0;
  border: 2px solid white;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
}
.side-button {
  
  border: 2px solid white;
  border-radius: 22px;
}

.left {
  border-top-right-radius: 0;
  /* border-bottom-right-radius: 0; */
}

.right {
  /* border-top-left-radius: 0; */
  border-bottom-left-radius: 0;
}

.work {
  display: flex;
  max-width: 90vw;
  min-height: 30vh;
  color: black;
  margin: 2vh auto;
  border-radius: 20px;
}





